.circle{
    position: fixed;
    bottom: 0;
    left: 5rem;
    height: 50rem;
    width: 50rem;
    background-color: gray;
    border-radius: 50%;
    transform: translate(-20%, 20%);
}

.aboutTitle{
    margin: 3rem 0;
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    font-family: Roboto;
    font-weight: 700;
    margin-bottom: 5rem;
}

.aboutDiv{
    background-color: black;
}

#currentProjects, #selfDescription{
    text-align: center;
    color: white;
    z-index: 1;
    padding: 4rem;
}

#currentProjects p:first-child{
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 2rem 0;
}

#currentProjects p:not(:first-child), #selfDescription{
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    #currentProjects, #selfDescription{
      padding: 3rem;
    }

    .circle{
        height: 10rem;
    }
  }