.contactTitle{
    color: #0d6efd;
    text-align: center;
    font-size: 40px;
  font-family: Roboto;
  font-weight: 700;
    margin: 3rem 0;
    margin-bottom: 58px;
}

#contactMainForm{
    background-color: #798086;
    border-radius: 10px;
    margin: 0 auto;
  }

#contactForm{
    background-color: #ffffff;
    border-radius: 10px 0 0 10px;
    padding: 3rem 2rem;
  }

label{
    padding: .5rem 0;
}

#submitButton{
    margin: 1rem 0;
    float: right;
    box-shadow: 3px 3px rgb(72, 148, 255);
}

#contactInfoDiv{
    padding: 1rem;
}

.contactInfo{
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0;
}

.emailInfo, .instagramInfo, .twitterInfo{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.numberInfo{
    font-size: 1rem;
    display: flex;
    // gap: 1rem;
    //justify-content: center;
    justify-content: space-evenly;
}

.linkedInInfo{
    font-size: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}