.HomeDiv{
  height: 100%;
  background-color: black;
}
  
.homeTitle {
  margin: 3rem 0;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: 58px;
}

#grayTextDiv{
  background-color: #798086;
  border-radius: 10px;
  max-height: 60vh;
  max-width: 80rem;
  margin: 0 auto;
  padding: 5rem 2rem;
}

#circleDiv{
  text-align: center;
  padding: 0;
}

#textsDiv{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#devText {
  color: #ffffff;
  font-size: 20px;
  font-family: Lato;
  font-weight: 400;
}

.content{
  // position: absolute;
  // top: auto;
  transform: translate(0%, -50%);
  // height: 160px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
  margin: 0 0 1rem 0;
  
  &__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 2rem 0 0;

    &:before {
      content: '[';
      transform: translateX(-3rem);
    }

    &:after {
      content: ']';
      transform: translateX(4rem);
    }

    &:after, &:before {
      position: absolute;
      top: 0;
      
      color: #16a085;
      font-size: 42px;
      line-height: 40px;
      
      -webkit-animation-name: opacity;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      animation-name: opacity;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }

    &__list {
      margin-top: 0;
      text-align: center;
      list-style: none;
      
      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;

      &__item {
        line-height:40px;
        margin:0;
      }
    }
  }
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

.artText{
  color: #e63333;
  letter-spacing: 5px;
  font-size: 40px;
  font-family: Tangerine;
  font-weight: 1000;   
}

.artText:hover{
  cursor: pointer;
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.artText:before,
.artText:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.artText:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.artText:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.novelText{
  color: #ffffff;
  font-size: 30px;
  font-family: Courier New;
  font-weight: 700; 
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75); 
}

/* Animation */
.anim-typewriter{
  animation: blinkTextCursor 1000ms steps(44) infinite normal;
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.gamesText{
  color: #033681;
  font-size: 30px;
  font-weight: 500;
}

.gamesText:hover{
  cursor: pointer;
  background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "Source Sans Pro", sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;

  @keyframes reveal {
    80%{
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }
}

.mangaText{
  font-size: 40px;
  color: #121111;
  font-family: Roboto;
  font-weight: 400;
}

.mangaText:hover{
  cursor: pointer;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

 @keyframes textclip {
   to {
     background-position: 200% center;
   }
}

#iconDiv{
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
}

#iconDiv a{
  text-decoration: none;
  color: rgb(44, 44, 44);
}

#iconDiv a:hover{
  color: #0d6efd;
}

@media screen and (max-width: 575px) {
  #textsDiv{
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10rem;
  }

  #iconDiv{
    justify-content: center;
    flex-direction: row;
    padding: 2rem;
  }
}