.projectsDiv{
    background-color: black;
}

.projectsTitle{
    margin: 3rem 0;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 700;
    margin-bottom: 58px;
}

.projectTitle{
    padding: 1rem 3rem;
    color: white;
    font-size: 1.5rem;
}

#card {
    background-color: #c4c4c4;
    margin: 2rem;
    width: max-content;
    border-radius: 1rem;
    padding: 0;
    text-align: center;
    border: 1px solid #c4c4c4;
}

#projectImage{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

#commingSoon{
    padding: 2rem;
    color: white;
}